<% if user_signed_in? %>
	<%= render 'form' %>
	<div class="border-bottom"></div>
	<div class="range-box-volume-whole">
		全体音量: 
		<input type="range" value="100" id="whole-volume">
	</div>

	<div class="buttons-box-play-pause">
		<button id="play-audios-button">すべて再生(音楽のみ)</button>
		<button id="pause-audios-button">すべて停止(音楽のみ)</button>
	</div>

	<div class="posts-box">
		<% @posts.each do |post| %>
			<div id="post-edit-box-<%= post.id %>" class="post-edit-box">
				<%= render partial: 'post', locals: {post: post} %>
			</div>
		<% end %>
	</div>
	<style>
		.audios-box{
			display: flex;
		}
	</style>
	<script>
		$(function(){
			var range = $get_id("whole-volume");
			$('#play-audios-button').click(function(){
				var audios = $get_class("audios");
				for(var i = 0; i < audios.length; i++){
					audios[i].play();
				}
			});
			$("#more-link-please").click(function(){
				move_scroll("combination-explanation-1-box");
			});
			$('#pause-audios-button').click(function(){
				var audios = $get_class("audios");
				for(var i = 0; i < audios.length; i++){
					audios[i].pause();
					audios[i].currentTime = 0;
				}
			});

			if(range != null){
				range.addEventListener('input', function(){
					var audios = $get_class("audios");
					for(var i = 0; i < audios.length; i++){
						audios[i].volume = range.value / 100;
					}
				});		
			}
		});
	</script>
<% else %>
	<p class="release_the_login">
		<%= link_to "ログインしてすべての機能を開放する", new_user_session_path, class: "login-all-link" %>
	</p>
	<div class="post-form-errors-new">
	</div>
	<p id="file_name"></p>
	<div class="form-box new-form nologin-form">
		<div class="files-box">
			<input type="file" id="audio-file_field" class="file-choose-button">

			<span id="file_button" class="file-button-demo">ファイルを選択</span><br>
			<div class="post-form-sound-box">
				<p>サウンドモード</p>
				<input type="checkbox" id="check-box-post" value="false">
			</div>
		</div>
		<p><input type="submit" value="送信" class="post-submit"></p>
	</div>
	<div class="audio-form-show-box">
		<div class="audio-form-box"></div>
	</div>
	<div class="border-bottom"></div>
	<br>
	<div class="range-box-volume-whole">
		全体音量: 
		<input type="range" value="100" id="whole-volume">
	</div>

	<div class="buttons-box-play-pause">
		<button id="play-audios-button">すべて再生(音楽のみ)</button>
		<button id="pause-audios-button">すべて停止(音楽のみ)</button>
	</div>

	<div class="posts-box">

	</div>

	<script>
		var lie_or_true = false;
		var result;
		var range = $get_id("whole-volume");
		var play_audio_timer;
		var go;
		if(range != null){
			range.addEventListener('input', function(){
				var audios = $get_class("audios");
				for(var i = 0; i < audios.length; i++){
					audios[i].volume = range.value / 100;
				}
			});		
		}

		$('#pause-audios-button').click(function(){
			var audios = $get_class("audios");
			for(var i = 0; i < audios.length; i++){
				audios[i].pause();
				audios[i].currentTime = 0;
			}
		});

		$('#play-audios-button').click(function(){
			var audios = $get_class("audios");
			for(var i = 0; i < audios.length; i++){
				audios[i].play();
			}
		});
		$('#file_button').click(function(){
			$('#audio-file_field').click();
		});
		$(`#button-audio-${id_score}`).click(function(){
			$get_id(`audio-${id_score}`).play();
		});
		file_name_tasikame = ["asf" , "asx" , "acd" ,"au" , "avi" , "aif" , "dig" , "iff" , "lso" , "mid" , "midi" , "mov" , "mp3" , "mpg" , "msf" ,"qt" ,"ram" ,"rm" ,"rpm" ,"sd" ,"sdn" ,"svx" ,"vqe" ,"vqf", "vql", "wav", "wma", "wrk"]
		var file = $get_id("audio-file_field");
		var file_name = $get_id("file_name");
		var id_score = 0;
		file.addEventListener('change', (event) => {
			for(i = 0; i < file.files.length; i++){
				var file_name_please = file.files[i].name;
			}
			file_name.textContent = file_name_please;
			var render = new FileReader();
			render.onload = function(e){
				file_name_tasikame.forEach(function(value){
					if(file_name_please.replace(/.+\./g, "").match(value)){
						$("#audio-form-show").attr("src", e.target.result);
						$('.audio-form-box').html(`<div class='audio-form-box'><audio src='${e.target.result}' controls></audio></div>`);
							lie_or_true = true;

					}
				});
				result = e.target.result;
			}
			render.readAsDataURL(event.target.files[0])		
		});
		$('.post-submit').click(function(){
			if(result != ''){
				if(lie_or_true){
					var check = $get_id("check-box-post").checked;
					id_score++;
					if(check){
						$('.posts-box').append(`<div class='audios-box' id='post-box-${id_score}'><button onclick=audio_play(${id_score}) class='button-audios' id='button-audio-${id_score}'>PlAY</button><audio class='audios' id='audio-${id_score}' src='${result}'></audio><div class='delete-audio-box'><button id='delete-button' class='edit-and-delete-box' onclick=delete_audio(${id_score})><%= image_tag 'delete-icon.png' %></button></div></div>`);
					}else{
						$('.posts-box').append(`<div class='audios-box' id='post-box-${id_score}'><audio class='audios' id='audio-${id_score}' src='${result}' controls></audio><div class='delete-audio-box'><button id='delete-button' class='edit-and-delete-box' onclick=delete_audio(${id_score})><%= image_tag 'delete-icon.png' %></button></div></div>`);		
					}
					$get_id("audio-file_field").value = '';
					$get_id("file_name").textContent = '';
					check = false;
					$('.audio-form-box').html('');
					result = '';
					lie_or_true = false;
				}
			}
		});

		function audio_play(e){
			var audio = $get_id(`audio-${e}`);
			audio.src = audio.src;
			audio.play();
		}

		function delete_audio(e){
			$(`#post-box-${e}`).remove();
		}

	</script>
	<style>
		.delete-audio-box{
			margin-top: 20px;
			display: flex;
			justify-content: center;
		}
		.button-audios{
			width: 300px;
			height: 50px;
			border-radius: 15px;
			font-size: 20px;
			font-weight: bold;
		}
		#delete-button{
			padding: 10px;
		}
		.audios-box{
			border: 1px solid #000000;
			border-radius: 5px;
			padding: 20px;
			margin: 20px;
			max-width: 300px;

		}
		.audio-form-show-box{
			display: flex;
			justify-content: center;
			text-align: center;
		}
		#file_name{
			margin-left: 10px;
			margin-right: 10px;
		}
		.posts-box{
			max-width: 900px;
			margin: 0 auto;
			padding-top: 70px;
		}
		.post-box{
			display: block;
		}
		@media screen and (max-width: 480px){
			.button-audios{
				width: 100%;
			}
			.audios{
				width: 100%;
			}
		}
	</style>
<% end %>
